<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${speaker.firstName} + ' ' + ${speaker.lastName}">View speaker</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet"
          type="text/css" />
    <link href="/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="logo">
    <div class="round">
        <div class="leaf1"></div>
        <div class="leaf2"></div>
        <div class="leaf3"></div>
        <div class="leaf4"></div>
        <div class="leaf5"></div>
        <div class="leaf6"></div>
    </div>
</div>
<div class="profile">
    <h1 class="name" th:text="${speaker.firstName} + ' ' + ${speaker.lastName}">Stephane Nicoll</h1>

    <div>
        <p th:text="${speaker.bio}">Sample Biography.</p>
    </div>
    <div>
        <a th:href="'http://twitter.com/' + ${speaker.twitter}" class="twitter" th:text="'@' + ${speaker.twitter}">@snicoll</a>
    </div>
    <div class="hostinfo">
        <p th:text="'// Instance:' + ${@environment.getProperty('CF_INSTANCE_INDEX')?:'*'}">// Instance id.</p>
    </div>

</div>
</body>
</html>